.section-1 {
  height: 307px;
}

.actives-packages {
  margin-top: 20px;
  background-color: #0c145a;
  width: 10px;
  height: 10px;
  margin-top: 35px;
  margin-left: 75px;
  position: absolute;
  border-radius: 10px;
}

.text-1-s1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  position: absolute;
  z-index: 1000;
  top: 96px;
  left: 302px;
  text-align: center;
}
.text-2-s1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  position: absolute;
  top: 166px;
  z-index: 1000;
  left: 295px;
  width: 881px;
  text-align: center;
  color: #ffffff;
}

.text-we-are-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffff;
  width: 781px;
  height: 54px;
}
