.active-inf {
  margin-top: 20px;
  background: #4e9982;
  width: 10px;
  height: 10px;
  margin-top: 35px;
  margin-left: 52px;
  position: absolute;
  border-radius: 10px;
  z-index: 1000;
  color: #4e9982 !important;
}

.actives-information {
  margin-top: 20px;
  background-color: #0c145a;
  width: 10px;
  height: 10px;
  margin-top: 35px;
  margin-left: 50px;
  position: absolute;
  border-radius: 10px;
}

.text-information-s1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  position: absolute;
  z-index: 1000;
  top: 96px;
  left: 632px;
  text-align: center;
}

.border-inf {
  border: 2px solid rgba(243, 243, 243, 0.5);
  border-radius: 15px;
  margin-right: 10px;
}

.information2-text-1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #343434;
}

.inf-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #343434;
}

.border-price-desc {
  border-bottom: 1px solid #d9d9d9;
}
.inf-desc {
  font-weight: 400;
  font-size: 16px;
  color: #343434;
}

.inf-price {
  font-weight: 500;
  font-size: 16px;
  color: #4e9982;
}

/* SECTION ACCORDION */
.card {
  border: none !important;
}
.card-header {
  border-top: 1px solid rgba(217, 217, 217, 1);
  background: none;
}
.accordion .card-header:after {
  font-family: "FontAwesome";
  content: "\f00d";
  float: right;
}
.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

.card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #343434;
}

/* SECTION ACCORDION END */

/* SECTION CONTACT US */
.desc1-text-1 {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #b0b0b0;
}

/* SECTION CONTACT US END */

.before-footer-text > h3 {
  font-weight: 600;
  font-size: 32px;
  color: #343434 !important;
}
.before-footer-text > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #343434 !important;
}
.before-footer-btn > button {
  border: none;
  color: #ffff !important;
  background: #4e9982 !important;
}
